/*Imported css*/
body {
	margin: 0;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a {
	background: 0 0;
}
*, ::after, ::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.panel-body {
	padding: 15px;
}
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.bst-panel {
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	position: relative;
	background: 0 0;
	-moz-box-shadow: 0 3px 5px none;
	-webkit-box-shadow: 0 3px 5px none;
	box-shadow: 0 3px 5px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
}
body {
	font-family: helvetica neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.4285;
	color: #333;
	background-color: #fff;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
	font-family: helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: 300;
}
body {
	background: #f1f1f1;
	font-size: 14px;
	padding-top: 50px;
}
/* @media all and (min-width:0px) */
body {
	font-size: 13px !important;
}
/* @media all and (min-width:768px) */
body {
	font-size: 14px !important;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
	font-family: helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: 300;
}
body {
	background: #f1f1f1;
	font-size: 14px;
	padding-top: 50px;
}
/* @media all and (min-width:0px) */
body {
	font-size: 13px !important;
}
/* @media all and (min-width:768px) */
body {
	font-size: 14px !important;
}
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent;
}
.pull-left {
	float: left !important;
}
.pull-left {
	
}
a {
	color: #2877cb;
	text-decoration: none;
}
a {
	color: #2877cb;
	text-decoration: none;
	outline: 0 !important;
}
a {
	color: #2877cb;
	text-decoration: none;
	outline: 0 !important;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4285;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}
.btn-block {
	display: block;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}
.bst-button-white {
	margin-bottom: 5px;
	background-color: #fff;
	border-color: #ccc;
	color: #333 !important;
	text-align: center;
	transition: background-color .3s ease;
	padding: 10px 0 !important;
}

/*==============My Css==============*/

.header{
	background-color: transparent;
}
.section{
	background-color: transparent;
}
.footer{
	background-color: transparent;
}

.chapter:hover{
	background:wheat;
}
.chapter-a{
	color: #333;
	font-size: 24px;
}
.padding1{
	padding-top: 5px;
	padding-bottom: 5px;
}

.chapter{
	background: white;
	border-color: gray;
	border-style: solid;
	margin: 3px;
}
