.bg-1 
{
    background-color: #eee; /*  */
    color: #1d1d1d;
}

.bg-2 {
    background-color: white; /* */
    color: #ffffff;
  }

  body {
    font: 150%, "Montserrat", sans-serif;
    line-height: 1.8;
    color: #1d1d1d;
  }

  .color1{
      color: #1d1d1d;
  }

  .padding1{
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .margin {margin-bottom: 45px;}

  ul{
      list-style: none;
  }

  h1{
      font-size: 36px;
  }
