
/*Width*/
.mwidt-100{
  min-width: 100px;
}

/*Search Result paragraphs*/
.sp{
  max-width: 200px;
}

.verticalLine {
  width: 180px;
}

.title-case{
  text-transform:capitalize;
}

.a-link {
  color:#0d6efd;
}

/*Background===========================*/
.bg-sky{
    background-image: url("../images/sky.png");
}
.bg-book{
    background-image: url("../images/book-front.jpg");
}
.bg-body{
    background-color: steelblue;
}
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.bg-violet{
    background-color: violet;
}

.bg-gray{
  background-color: gray;
}

.bg-silver{
  background-color: silver;
}

.bg-sea{
  background-color: lightseagreen;
}

/*Paddings==============================*/
.pb-50{
    padding-bottom: 50px;
}
.pb-30{
  padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pt-30{
    padding-top: 60px;
}
.ml-m30{
    margin-left: -35px;
}

/*Differents Display Resolutions=======*/

@media (max-width: 575.98px) {

    .books{
      background-color: blue;
      margin-top: 20px;
    }
  
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .books{
      background-color: red;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .books{
      background-color: green;
      padding-left: 200px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .books{
      background-color: yellow;
      padding-left: 200px;
    }
  }
  
  
  @media (min-width: 1200px) { 
    .books{
      background-color: white;
      padding-left: 200px;
    }
  }

/*Parts style=====================================*/
header {
    text-align:center;
    padding:5px; 
}

nav {
    line-height:30px;
    background-color:#eeeeee;
    float:left;
    padding:5px; 
    padding-bottom: 100px;
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {

    clear:both;
    text-align:center;
    padding:5px; 
}
  .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  body {
    line-height: 1.8;
  }

  li{
      list-style: none;
  }
  ul.a {
    list-style-position: outside;
  }

  h1{
      font-size: 3em;
     
  }

  .text-justify{
      text-align: justify;
  }

  .bookTitle{
    font-size: 18px;
    min-width: 260px;
}

/*Bootstrap redefinitions*/
nav .navbar-nav li a{
  color: blue !important;
  }