DATABASE_URL="postgresql://bible:bible@localhost:15432/bible?schema=public"

PORT=3020

TYPESENSE_HOST="localhost"
TYPESENSE_PORT="18108"
TYPESENSE_PROTOCOL="http"
TYPESENSE_API_KEY="xyz"

NEXT_PUBLIC_SITE_URL="http://localhost:3020"
